.card-header {
  font-weight: bold;
  &.collapsed {
    .fa-minus {
      display: none;
    }
    .fa-plus {
      display: inline-block;
    }
  }
  .fa {
    float: right;
  }
  .fa-minus {
    display: inline-block;
  }
  .fa-plus {
    display: none;
  }
}

.accordion {
  counter-reset: section;
  > * {
    > *:first-child::before {
      counter-increment: section;
      content: counter(section) ". ";
    }
  }
}

.faq-category-header {
  border-bottom: 2px solid #e9ecef;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
