<section class="container my-50p my-md--100p">
  <div class="row justify-content-center">
    <div class="col-12 col-xl-10">
      <h2 class="h3 h2-md mb-70p text-center">
        Frequently Asked Questions
      </h2>

      <div *ngFor="let cat of faqCategories" class="mb-50p">
        <h3 class="h5 h4-md mb-20p mb-md-30p text-primary">
          {{ cat.category }}
        </h3>

        <ul class="list-unstyled mb-0">
          <li
            *ngFor="let faq of cat.items"
            class="mb-20p"
          >
            <faq-item [data]="faq"></faq-item>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
